<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @produto.text %>
</p>

<p>
  <b>Text2:</b>
  <%= @produto.text2 %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
